.App {
  text-align: center;
}
/* adding css for navigation animation */
.nav-link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 9px;
}

.nav-link-ltr:hover::before {
  width: 82%;
}
/* navigation css ends here */
/* delete icon css  */
.delete-icon{
  cursor: pointer;
}

.my-custom-card {
  transition: transform 0.3s ease;
}

.my-custom-card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 1.25rem;
}

.product-card {
  margin-bottom: 20px;
}

.product-card.small {
  width: 200px; /* Adjust the width as needed */
}

.card-img-container {
  height: 200px; /* Adjust the height as needed */
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: auto;
}

/* CSS for title */
h2 {
  text-align: left;
  margin-bottom: 20px;
}

.product-title {
  max-width: 100%; /* Limit the width of the title */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  white-space: nowrap; /* Prevent the title from wrapping onto multiple lines */
}

.search-logo {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer; 
  vertical-align: middle; 
}



